.clock {
    margin-top: 15vh;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #222;
    color: #eee;
    gap: 2%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.4);
    padding: 1rem 1rem;
}

.icons {
    font-size: 30px;
}

.btn {
    justify-content: center;
    align-items: center;
    height: "2rem";
    width: "2rem";
    border-radius: 10px;
}

.stop-watch {
    padding: 2%;
    font-size: 5rem;
}

.title {
    color: #eee;
    margin: 5%;
}

label {
    margin-bottom: 0.5rem;
}

input {
    width: 100px;
    margin-right: 1rem;
    color: #282c34;
    outline: none;
    border: none;
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    padding: 0rem 0.5rem;
    border-radius: 5px;
}

input:hover {
    background-color: #928f8f;
}